<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="container">
  <div class="center-box">
  <ion-grid >
    <ion-row>
      <ion-col size="10" offset="1">
 
  <form [formGroup]="loginForm" (submit)="submitLoginForm()">
    <ion-item>
      <ion-input type="text" label="username" type="username" formControlName="username" name="username" placeholder="username"></ion-input>
    </ion-item>
    <div class="error-block" >
      <ion-item lines="none" *ngIf="loginForm.controls['username'].dirty ||
      loginForm.controls['username'].touched
      "> 
      <div class="validate-alert" *ngIf="loginForm.controls['username'].errors?.['required']">
          username is required.
      </div>
      <div class="validate-alert" *ngIf="loginForm.controls['username'].hasError('minlength')">
        username is minlength 8
      </div>
    </ion-item>

    </div>
    <ion-item>
      <ion-input type="password" name="password" formControlName="password" label="Password" value="NeverGonnaGiveYouUp">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <div class="error-block" >
      <ion-item lines="none" *ngIf="loginForm.controls['password'].dirty || 
      loginForm.controls['password'].touched">
      <div class="validate-alert" *ngIf="loginForm.controls['password'].errors?.['required']">
        Password is required
      </div>
      <div class="validate-alert" *ngIf="loginForm.controls['password'].hasError('minlength')">
        Min Length is 8
      </div>
      </ion-item>
    </div>
      <ion-item lines="none">
       <ion-button size="full" type="submit" [disabled]="!loginForm.valid">Submit</ion-button>
    </ion-item>
  </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>

</div>

 

  
</ion-content>
